.DS_Store
html-plots/*
other/
.idea/
.vscode/
/covid19-log.html
/covid19-normal.html
/places.html
/run.timelog
/run-*.out
/test*py
/test*ipynb
__pycache__/*
archived_data/*
env/
test-*
usa-ca/*html
usa-ca/notes-*
usa-ca/run-*.out
remote-run.sh
remote-pull-run.sh
remote-pull.sh
