.DS_Store
html-plots/*
other/
.idea/
.vscode/
/covid19-log*.html
/covid19-normal*.html
/places.html
/run.timelog
/run-*.out
/test*py
/test*ipynb
__pycache__/*
archived_data/*
env/
test-*
remote-run.sh
remote-pull-run.sh
remote-pull.sh
usa-ca/*html
usa-ca/run-*.out
usa-ca/CA-covid19cases_test-parsable.csv
usa-ca/CA-covid19cases_test.csv
usa-states/us-states.csv
usa-states/us-states-parsable.csv
usa-states/*html
usa-states/run-*.out
canada/canada.csv
canada/canada-parsable.csv
canada/*html
canada/run-*.out
canada/notes*
RUN.OUTPUT
TODO.txt